services:
  - type: web
    name: memtop-video-streaming
    runtime: python
    plan: free
    branch: main
    rootDir: .
    buildCommand: pip install aiohttp==3.9.1
    startCommand: python web_server_only.py
